.create_banner {
  margin-bottom: 26px !important;
}

.contact {
  margin-bottom: 26px;
  border: 1px solid lightgray;
  padding: 9px;
  border-radius: 8px;
  margin-right: 2%;

  .contact_name {
    display: flex;
    justify-content: space-between;
  }
}

.media {
  margin-right: 16px;
}

.imagePreview {
  transition: transform 0.3s ease;
  cursor: zoom-in;

  &:hover {
    transform: scale(1.05);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  // max-width: 450px;
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    max-width: 100%;
    max-height: 450px;
  }

  .landscape_img {
    max-width: 700px;
    height: auto;
  }

  .portrait_img {
    width: auto;
    max-height: 700px;
  }

  .close_icon {
    width: 40px;
    height: 40px;
    color: red;
    position: absolute;
    top: 100px;
    right: 100px;
    cursor: pointer;
    transition: 0.6s;

    &:hover {
      transform: scale(1.2);
      opacity: 0.7;
    }
  }
}

.fullImage {
  border-radius: 8px;
}
