.login {
  display: flex;
  flex-direction: column;
  width: 450px;
  .login_input {
    margin-top: 30px;
    width: 100%;
  }
  .btn {
    margin-top: 30px;
    a {
      color: white;
    }
  }
  .btn_log_reg {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }
}
