.button {
  background-color: #2363ee;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: inherit !important;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px 2px 4px;
  cursor: pointer;
  border-radius: 12px;
}
